@import "bootstrap";

@import "fonts";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: $font-family-sans-serif;
}

* {
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@import "responsive";